<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Jewel Case</string>
	<key>CFBundleIdentifier</key>
	<string>com.sophiestication.mac.CoverSutra.jewelcase</string>
	<key>CFBundleName</key>
	<string>JewelCase</string>
	<key>CoverSutraAlbumCaseExtraSmall</key>
	<dict>
		<key>caseImage</key>
		<string>extraSmall.tiff</string>
		<key>coverFrame</key>
		<string>{{6, 5}, {40, 39}}</string>
		<key>size</key>
		<string>{48, 48}</string>
		<key>emptyCaseImage</key>
		<string>emptyExtraSmall.tiff</string>
	</dict>
	<key>CoverSutraAlbumCaseSmall</key>
	<dict>
		<key>caseImage</key>
		<string>small.tiff</string>
		<key>coverFrame</key>
		<string>{{15, 10}, {108, 106}}</string>
		<key>size</key>
		<string>{128, 128}</string>
		<key>emptyCaseImage</key>
		<string>emptySmall.tiff</string>
	</dict>
	<key>CoverSutraAlbumCaseMedium</key>
	<dict>
		<key>caseImage</key>
		<string>medium.tiff</string>
		<key>coverFrame</key>
		<string>{{15, 6}, {124, 120}}</string>
		<key>size</key>
		<string>{144, 144}</string>
		<key>emptyCaseImage</key>
		<string>emptyMedium.tiff</string>
	</dict>
	<key>CoverSutraAlbumCaseLarge</key>
	<dict>
		<key>caseImage</key>
		<string>large.tiff</string>
		<key>coverFrame</key>
		<string>{{35, 13}, {207, 204}}</string>
		<key>size</key>
		<string>{256, 256}</string>
		<key>emptyCaseImage</key>
		<string>emptyLarge.tiff</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2006-2010 Sophia Teutschler, All Rights reserved worldwide.</string>
</dict>
</plist>
