<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>automaticallyReloadMusicLibrary</key>
	<true/>
	<key>desktopWindowShown</key>
	<true/>
	<key>desktopWindowSize</key>
	<integer>0</integer>
	<key>displayPlayerNotifications</key>
	<integer>2</integer>
	<key>dockItemShown</key>
	<true/>
	<key>globalShortcuts</key>
	<dict>
		<key>nextSong</key>
		<dict>
			<key>keyCode</key>
			<integer>124</integer>
			<key>modifiers</key>
			<integer>1310720</integer>
		</dict>
		<key>playPauseSong</key>
		<dict>
			<key>keyCode</key>
			<integer>49</integer>
			<key>modifiers</key>
			<integer>1310720</integer>
		</dict>
		<key>previousSong</key>
		<dict>
			<key>keyCode</key>
			<integer>123</integer>
			<key>modifiers</key>
			<integer>1310720</integer>
		</dict>
		<key>showApplicationWindow</key>
		<dict>
			<key>keyCode</key>
			<integer>97</integer>
			<key>modifiers</key>
			<integer>0</integer>
		</dict>
		<key>showiTunes</key>
		<dict>
			<key>keyCode</key>
			<integer>97</integer>
			<key>modifiers</key>
			<integer>1048576</integer>
		</dict>
		<key>showMusicSearch</key>
		<dict>
			<key>keyCode</key>
			<integer>49</integer>
			<key>modifiers</key>
			<integer>1179914</integer>
		</dict>
	</dict>
	<key>globalShortcutsEnabled</key>
	<true/>
	<key>lyricsWindowShown</key>
	<false/>
	<key>playbackBezelCoverShown</key>
	<true/>
	<key>shortcutBezelShown</key>
	<true/>
	<key>showDisabledMusicLibraryItems</key>
	<false/>
	<key>songDetailsShown</key>
	<true/>
	<key>statusItemShown</key>
	<true/>
	<key>desktopWindowAlwaysShown</key>
	<true/>
</dict>
</plist>
