<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>com.sophiestication.mac.CoverSutra.help</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CoverSutraHelp</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.5</string>
	<key>CFBundleSignature</key>
	<string>hbwr</string>
	<key>HPDBookAccessPath</key>
	<string>CoverSutraHelp.html</string>
	<key>HPDBookIconPath</key>
	<string>Shared/CoverSutraHelp-Small.png</string>
	<key>HPDBookIndexPath</key>
	<string>CoverSutra.helpindex</string>
	<key>HPDBookKBProduct</key>
	<string>coversutra2</string>
	<key>HPDBookTitle</key>
	<string>CoverSutra Help</string>
	<key>HPDBookType</key>
	<string>3</string>
</dict>
</plist>
